# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# Application Data & Temporary Audio
backend/data/*.db
backend/temp/*
!backend/temp/.gitkeep
backend/data/enrollments/*.npy
backend/pretrained_models/

# Environment
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
